
:root {
  --bgColor: #f8f4e8;
  --textColor:#c3c0b5;
  --firstColorInGradient: #e5b060;
  --lastColorInGradient: #f0587b;
}


.gredient-logo {
  background: linear-gradient(100deg, var(--firstColorInGradient), var(--lastColorInGradient))
}

.btn {
  @apply py-2 px-5 font-thin font-sans
}

.btn-primary{
  @apply bg-blue-600 text-white py-4 rounded lg:w-auto w-full 
}


::placeholder {
  color: black;
  font-weight: 400;
}

.image-effect {
  display: block;
  position: relative;
  top: -18px
}

.main-container-page {
  @apply md:m-0 mt-32 h-3/4 flex items-center justify-evenly flex-col-reverse lg:flex-row 
}

.images {
  @apply absolute w-52 lg:w-96
}

.container-hero {
  @apply flex flex-col p-5 font-semibold items-center text-center justify-evenly lg:text-left lg:w-2/5  lg:items-baseline
}

.container-images {
  @apply lg:w-1/3 lg:h-1/2 flex justify-center items-center lg:my-0 md:my-10 my-20
}